:root
{
  --dBlue: #0C0C6F;
    --lBlue : #00409F;
    --black : #242D49;
    --gray : #788097;
    --blueCard : #DDF8FE;
    --purple: rgb(238 210 255);
    --boxShadow : 0px 19px 60px rgb(0 0 0 / 8%);
    --orangeCard: rgba(252, 166, 31, 0.45);
    --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
}

/* html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display: block;}
body { line-height: 1;}
ol,ul { list-style: none;}
blockquote,q { quotes: none;}
blockquote:before,blockquote:after,q:before,q:after { content: ''; content: none;}
table { border-collapse: collapse; border-spacing: 0;} */

.App{
  background-image: linear-gradient(to right, #eee5ea, #ecdae9, #e5d0ec, #d7c8f2, #c3c2f8, #b3c3fc, #a1c4fe, #8dc6ff, #86ccff, #7fd1ff, #7bd7ff, #78dcff);    padding: 0.5rem 3.5rem;
  padding: 1.5rem 3.5rem;
  overflow: hidden;
  color: var(--black);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button {
  background: linear-gradient(180deg, #00409F 26.71%, #0C0C6F 99.36%);
  box-shadow: 0px 20px 24px 3px rgba(13, 188, 232, 0.514);
  border-radius: 34px;
  border: none;
  color: white;
  font-size: 16px;
  padding: 11px 26px 11px 26px;
}

.button:hover {
  background: white;
  cursor: pointer;
  border: 1px solid var(--lBlue);
  color: var(--lBlue);
}
@media screen and (max-width: 900px) {
  .App {
    padding: 0.5rem .5rem;
    font-size: 14px !important;
    display: flex;
  flex-direction: column;
  justify-content: space-between;
  }
}
